@font-face {
  font-family: "Veitnam";
  src: url(/assets/fonts/BeVietnamPro-Regular.ttf);
}

body {
  font-family: Veitnam;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s all ease;
}

.container {
  width: 60%;
  display: flex;
  flex-flow: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 2px solid #7c251d;
  border-radius: 1vw;
}

.left {
  width: 30%;
  background-color: #7c251d;
  border-radius: 0.8vw 0 0 0.8vw;
}

.left-inner {
  padding: 10rem 4rem;
  display: flex;
  align-items: center;
}

.right {
  width: 70%;
  background-color: #fff;
  border-radius: 1vw;
}

.right-inner {
  padding: 2rem;
}

img {
  width: 100%;
}

.label {
  margin: 0.3rem 0;
  color: rgba(0, 0, 0, 0.6);
}

input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.btn-placeholder {
  display: flex;
  justify-content: end;
}

.btn {
  width: max-content;
  padding: 0.5rem 3rem;
  border: 1px solid #000;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 4px;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 2rem 5rem;
  background-color: #f6f4f3;
  border-radius: 0.5vw;
}

.msg-heading {
  margin: 0rem;
}

.cert {
  width: 100%;
  height: 100vh;
}

.cert-x {
  color: white;
  position: fixed;
  top: 1rem;
  left: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.footer {
  font-size: 0.8rem;
  padding: 1rem;
}

.footer > a {
  color: #d6a54e;
}

.desk {
  display: block;
  text-align: center;
}

.mob {
  color: #f6f4f3;
  display: none;
}

@media screen and (max-width: 1000px) {
  body {
    height: auto;
  }
  .container {
    width: 100%;
    display: block;
    border-radius: 0;
    border-width: 4px;
    margin: 0;
    background-color: #7c251d;
    min-height: 100vh;
  }
  .left, .right {
    width: 100%;
    border-radius: 0;
  }
  .left-inner {
    padding: 5vw 20vw;
  }
  .right-inner {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
  }
  .verify-btn {
    float: none;
  }
  .box {
    padding: 2rem 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
}
